@font-face {
    font-family: 'Monument';
    font-weight: 400;
    src: url('./assets/fonts/Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff2') format('woff2'),
        url('./assets/fonts/Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff') format('woff'),
        url('./assets/fonts/Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.otf') format('truetype');
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Monument', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.body,
#root {
    height: 100vh;
}
.amcharts-chart-div a {
    display: none !important;
}
